################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoginApp/.vs/LoginApp/v17
.vs